@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: white;
  background: #18181b;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

/* Target the scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 4px;
}

/* Style the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
